$primary: #000000;
$secondary: #ffffff;
$background: #ffffff;
$text: #676666;
$tertiary: #d5d5d5;
$tertiaryPrimary: #272727;
$quarternary: #f3f3f3;
$success: #52a956;
$error: #b72020;
$darkBlack: #090907;
$textLight: #222325;

// estilos para tema light
.v-theme--light {
  
}

// estilos para tema dark
.v-theme--dark {
}
